.left-aside {
    padding-top: 1.5rem;
}
.aside-block {
    margin-top: 1em;
    padding: 1.5em 0;
}

.staff-unit {
    padding-left: 40%;
    position: relative;
    width: 100%;
    margin-top: 1em;
    display: inline-block;
    text-align: left;

}
.aside-staff {
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
}
.staff {
    &-content {
        width: 100%;
        display: inline-block;
        @media all and (max-width: $screen-md-min) {
            max-width: 330px;
        }
    }
    &-photo {
        position: absolute;
        left: 0;
        top: 0;
        width: 40%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &.dummy {
            background-image: url("../img/staff.jpg");
        }
    }
    &-text {
        margin-left: 1em;
        padding: 5px 0 5px 0;
        li {
            vertical-align: middle;
        }
        li:nth-child(1) {
            span {
                display: block;
                @extend .large-font
            }
            padding-bottom: 5px;
        }
    }
    &-link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(1,59,93,.3);
        display: none;
    }
}
