.footer {

    padding-top: 1rem;
    position: relative;
    background: url("../img/footer_bg.jpg") no-repeat center fixed;
    background-size: cover;
    &-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $shadow-blue;
    }
    &-logo {
        margin-top: 1rem;
    }
    &-copyright {
        padding: 1em 0;
        background: $navbar-default-bg;
        border-top: 1px solid $light-blue;
    }
}
