//disable hoster manifest
.cbalink {
    display: none;
}

//Colors
$deep-blue: #003366;
$light-blue: #5498c0;
$grease-blue: #658290;
$accordion-blue: #013b5d;
$shadow-blue: rgba(1,59,93,.85);
//IE

html[data-useragent*='MSIE 10.0'],
html[data-useragent*='rv:11.0'] {
    //your cod here
}

//Utilities
$large-font: 1.15em;
.large-font {
    font-size: $large-font;
}
.relative {
    position: relative;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 800;
}

.color-white {
    color: #ffffff;
}

.color {
    &__deep-blue {
        color: $deep-blue;
    }
}

.color-primary {
    color: $brand-primary;
}

.light {
    font-weight: 300;
}

.btn-lg {
    font-size: 1em;
    height: 3.5em;
}

a, button, input, textarea {
    &:focus,
    &:active {
        outline: none !important;
    }
}

.no-padding {
    padding: 0;
}

.block-centered {
    display: block;
    margin: 0 auto;
}

//defend map
.scrolloff {
    pointer-events: none;
}

body {
    position: relative;
    @media all and (max-width: $screen-tablet) {
        font-size: 12px;
    }
    @media all and (max-width: $screen-phone) {
        font-size: 10px;
        h1 {
            font-size: floor(($font-size-base * 1.8));
        }
        h2 {
            font-size: floor(($font-size-base * 1.6));
        }
        h3 {
            font-size: ceil(($font-size-base * 1.1));
        }
        h4 {
            font-size: $font-size-base;
        }
        h5 {
            font-size: ceil(($font-size-base * .9));
        }
    }
}
iframe.embed-responsive-item {
    border: none;
}
//Elements
input {
    &:active,
    &:focus {
        outline: none;
    }
}

.breadcrumb {
    a, li {
        color: $text-color;
        &:hover {
            text-decoration: none;
        }
        text-transform: uppercase;
    }
}

.navbar-nav {
    li {
        &.active {
            box-shadow: 0 3px $brand-primary;
        }
    }
}

.breadcrumb-wrapper {
    margin-bottom: 1em;
}

.article-content {
    padding-top: 1em;
    padding-bottom: 1.5em;
    margin-bottom: 2em;
    p {
        text-indent: 1.8em;
        margin-bottom: 0;
        @extend .large-font
    }
}

.embed-space {
    padding-top: 38%;
}

.spacer {
    font-size: 1px;
    &.quad {
        padding-top: 100%;
    }
}

//FORMS
.form-feedback {
    background-color: white;
    padding: 2em 2em .5em;
    input, button[type="submit"] {
        height: 3em;
    }
    input, button[type="submit"], textarea {
        font-size: 1.1em;;
        border: 1px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin-bottom: 1em;
    }
    input:not([type="submit"]), textarea {
        width: 100%;
        border: 1px solid lightgray;
        &:active,
        &:focus {
            border-color: $brand-primary;
        }
    }
    input[type="submit"] {
        width: 100%;
    }
    textarea {
        resize: none;
        padding: 10px 16px;
    }
}

.animated {
    opacity: 0;
    &.visible {
        opacity: 1;
    }
}

label.error {
    color: $brand-danger !important;
    font-weight: 300;
    font-size: 80%;
    position: absolute;
    bottom: -1em;
    display: inline-block;
    &::before {
        content: '*';
        position: absolute;
        left: -5px;
        top: 0;
    }
}

.my-nav {
    @extend .list-inline;
    margin-bottom: 0;
    a {
        padding: 0 1.5em;
    }
    a:not(:hover) {
        color: white;
    }
    a:hover {
        color: darken(white, 10%);
        text-decoration: none;
    }
    li:nth-child(1) {
        a {
            padding-left: 0;
        }
    }
    li:nth-last-child(1) {
        a {
            padding-right: 0;
        }
    }
}

.btn-text {
    font-size: .9em;
    margin-left: 1em;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    color: grey; /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}

.sidebar-menu {
    background: $light-blue;
    margin: 0 auto;
    color: white;
    .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family: 'FontAwesome'; /* essential for enabling glyphicon */
        content: "\f101";
        float: right;
    }
    .active {
        .accordion-toggle:after {
            /* symbol for "collapsed" panels */
            content: "\f103";
        }
        .accordion-title {
            color: $brand-primary;
        }
    }
    .accordion-title {
        line-height: 34px;
        padding: .5em 1em;
        cursor: pointer;
        background: linear-gradient($accordion-blue 95%, lighten($accordion-blue, 15%));
        margin: 0;
        border-bottom: 1px solid $grease-blue;
    }
    li {
        &:nth-last-of-type(1) {
            .accordion-title {
                border-bottom: none;
            }
        }
    }
    /*heading hover effect*/
    .accordion-title:hover {
        color: $brand-primary;
    }
    .accordion-title span {
        font-size: 16px;
        margin-right: 10px;
    }
    li {
        list-style-type: none;
    }
    ul ul li a {
        color: white;
        text-decoration: none;
        font-size: .9em;
        line-height: 27px;
        display: block;
        padding: .4em 1em .4em 2em;
        /*transition for smooth hover animation*/
        transition: all 0.15s;
    }
    ul ul li a:hover {
        background: $accordion-blue;
        border-left: 5px solid $brand-primary;
        color: $brand-primary;
        //variant 2
        //background: transparent;
        //color: $deep-blue;
    }
    ul ul {
        display: none;
    }
    .collapse {
        li {
            border-bottom: 1px solid $grease-blue;
            &:nth-last-of-type(1) {
                border-bottom: none;
            }
            &.active {
                border-bottom: none;
                .accordion-title {
                    background: $accordion-blue none;
                }
            }
        }
    }
    li {
        &.active {
            border-bottom: none;
            .accordion-title {
                background: $accordion-blue none;
                border-bottom: none;
            }
        }
    }
}

.home-links {
    margin-bottom: 2em;
    &-embed {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        //Dummy img!
        &.dummy {
            background-image: url("../img/dummy-service.jpg");
        }
    }
    &-text {
        @extend .large-font
    }
}
.modal-content {
    background: $shadow-blue;
}
.form-feedback {
    background: transparent;
}
