.top-nav {
    padding: .5rem 0 2rem;
}

.header {
    padding: .5rem 0 0;
    background: url("../img/footer_bg.jpg") no-repeat center fixed;
    background-size: cover;
    position: relative;
    &-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background:  $shadow-blue;
    }
}

.header-top {
    position: relative;
    padding-bottom: .5rem;
}

.header-top-bg {
    position: absolute;
    height: 1.8rem;
    width: 100%;
    background-color: rgba(1, 59, 93, 0.02);
    top: 0;
}

.header-logo {
    margin-top: 1rem;
}

.top-address {
    padding-right: 2em;
    li:nth-child(1) {
        border-bottom: 1px solid white;
    }
    li:nth-child(2) {
        padding-top: .5em;
    }
}

.top-phone {
    li {
        position: relative;
        padding: .2em 0 .3em 2em;
        .fa {
            font-size: 1.4em;
            position: absolute;
            left: 0;
            top: .5em;
        }
        .phone-text {
            font-size: 1.5em;
        }
    }
    &__mobile {
        margin-top: 1.5rem;
    }
}

.my-input-group {
    font-size: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 0 1px  #5498c0;
    .form-control {
        border-color: white;
        border-right: 0;
        height: 27px;
        background: white;
        box-shadow: none;
        &::-webkit-input-placeholder {
            color: $deep-blue;
        }
    }
    .input-group-btn {
        .btn {
            border-color: white;
            border-left: 0;
            padding-top: 1px;
            padding-bottom: 0;
            &:hover,
            &:focus,
            &:active {
                background-color: $input-bg
            }
        }
        .fa {
            font-size: 1.4rem;
        }
    }
}

.top-btn-group {
    padding-top: .3rem;
}

.my-input-group,
.btn-call {
    max-width: 220px;
    width: 100%;
    .btn-text {
        font-size: .8em;
        margin-left: .2em;
    }
    .btn-text, .btn-icon {
        vertical-align: middle;
    }
    @media (min-width: $grid-float-breakpoint) {
        margin-bottom: 1.3em;
        &:nth-last-child(1) {
            margin-bottom: .5rem;
        }
    }

        margin-bottom: 1em;
}

.btn-call {
}

.main-menu {
    border-width: 1px 0 3px 0;
    margin-bottom: 0;
    @media (min-width: $grid-float-breakpoint) {
        .navbar-nav {
            display: inline-block;
            float: none;
        }
        .navbar-collapse {
            text-align: center;
        }
        .navbar-right {
            position: absolute;
            right: 1rem;
        }
        .navbar-ex1-collapse {
            font-size: 0;
        }
        .navbar-nav {
            font-size: 1rem;
        }
    }
}

