<!doctype html>
<html class="no-js" lang="ru-RU">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>JesFactum</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Insert your files and uncomment that-->
    <!--    <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>-->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--{{CUT-START}}-->
    <link rel="stylesheet" href="css/styles.css">

    <!--{{CUT-END}}-->

    <link rel="stylesheet" href="css/{{MAIN_CSS_FILE}}">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>

</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<header class="header">
    <div class="header-shadow"></div>
    <div class="header-top-bg visible-lg"></div>
    <div class="header-top">
        <div class="container relative">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 col-sm-6 col-xs-6">
                            <a href="#">
                                <img src="img/logo.png" alt="JesFactum" class="img-responsive header-logo">
                            </a>
                        </div>
                        <div class="col-sm-6 col-xs-6 hidden-md hidden-lg">
                            <ul class="list-unstyled top-phone top-phone__mobile color-white">
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span class="phone-text">(098) 565-69-69</span>
                                </li>
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span class="phone-text">(098) 565-69-69</span>
                                </li>
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span class="phone-text">(098) 565-69-69</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class=" col-md-6">
                    <div class="top-contacts color-white">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="top-address list-unstyled">
                                    <li>
                                        <h4 class="bold">АДРЕС:</h4>
                                    </li>
                                    <li>
                                        <h5 class="large-font">г.Киев,
                                            <span class="text-nowrap">ул. Соколовского д3, </span>
                                            <span class="text-nowrap">офис 234</span>
                                        </h5>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 hidden-sm hidden-xs">
                                <ul class="list-unstyled top-phone">
                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span class="phone-text">(098) 565-69-69</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span class="phone-text">(098) 565-69-69</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span class="phone-text">(098) 565-69-69</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="top-btn-group">
                        <form class="hidden-sm hidden-xs">
                            <div class="input-group my-input-group">
                                <input type="text" class="form-control" placeholder="ПОИСК">
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search color__deep-blue" aria-hidden="true"></i>
                                </button>
                              </span>
                            </div><!-- /input-group -->
                        </form>
                        <button class="btn btn-primary btn-call" data-toggle="modal" data-target="#feedbackModal">
                            <i class="fa fa-phone btn-icon" aria-hidden="true"></i>
                            <span class="btn-text bold text-uppercase btn-text">заказать обратный звонок</span>
                        </button>
                        <button class="btn btn-primary btn-call" data-toggle="modal" data-target="#feedbackModal">
                            <i class="fa fa-envelope btn-icon" aria-hidden="true"></i>
                            <span class="btn-text bold text-uppercase btn-text">бесплатная консультация</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default main-menu" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav text-uppercase">
                <li class="active"><a href="#">главная</a></li>
                <li><a href="#">практика</a></li>
                <li><a href="#">вопрос-ответ</a></li>
                <li><a href="#">новости</a></li>
                <li><a href="#">отзывы</a></li>
                <li><a href="#">проекты</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Укр</a></li>
                <li class="active"><a href="#">Рус</a></li>
                <li><a href="#">Eng</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</header>
<div class="main container">
    <div class="row">
        <div class="col-md-offset-5 col-lg-offset-4  col-lg-8 col-md-7breadcrumb-wrapper">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-lg-4">
            <aside class="left-aside">
                <div id="accordian" class="sidebar-menu">
                    <ul class="list-unstyled">
                        <li class="active">
                            <h5 class="accordion-title">Для юридических лиц<span class="accordion-toggle"></span></h5>
                            <ul class="list-unstyled collapse">
                                <li><a href="#">Reports</a></li>
                                <li><a href="#">Search</a></li>
                                <li><a href="#">Graphs</a></li>
                                <li><a href="#">Settings</a></li>
                            </ul>
                        </li>
                        <li>
                            <h5 class="accordion-title">Для физических лиц <span class="accordion-toggle"></span></h5>
                            <ul class="list-unstyled collapse">
                                <li><a href="#">Today's tasks</a></li>
                                <li><a href="#">Urgent</a></li>
                                <li><a href="#">Overdues</a></li>
                                <li><a href="#">Recurring</a></li>
                                <li><a href="#">Settings</a></li>
                            </ul>
                        </li>
                        <li>
                            <h5 class="accordion-title">Специальное предложение<span class="accordion-toggle"></span>
                            </h5>
                            <ul class="list-unstyled collapse">
                                <li><a href="#">Current Month</a></li>
                                <li><a href="#">Current Week</a></li>
                                <li><a href="#">Previous Month</a></li>
                                <li><a href="#">Previous Week</a></li>
                                <li><a href="#">Next Month</a></li>
                                <li><a href="#">Next Week</a></li>
                                <li><a href="#">Team Calendar</a></li>
                                <li><a href="#">Private Calendar</a></li>
                                <li><a href="#">Settings</a></li>
                            </ul>
                        </li>
                        <li>
                            <h5 class="accordion-title">Задать вопрос юристу<span class="accordion-toggle"></span></h5>
                            <ul class="list-unstyled collapse">
                                <li><a href="#">Global favs</a></li>
                                <li><a href="#">My favs</a></li>
                                <li><a href="#">Team favs</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="aside-block text-center">
                    <h4 class="text-uppercase aside-block-title">
                        наши юристы
                    </h4>
                    <div class="aside-staff">
                        <div class="staff-content">
                            <div class="staff-unit">
                                <div class="staff-photo dummy"></div>
                                <ul class="staff-text list-unstyled">
                                    <li>
                                        <span>Зимин</span>
                                        <span>Сергей</span>
                                        <span>Петрович</span>
                                    </li>
                                    <li>специалист в области уголовного права</li>
                                </ul>
                                <a href="#" class="staff-link"></a>
                            </div>
                        </div>

                        <div class="staff-content">
                            <div class="staff-unit">
                                <div class="staff-photo dummy"></div>
                                <ul class="staff-text list-unstyled">
                                    <li>
                                        <span>Зимин</span>
                                        <span>Сергей</span>
                                        <span>Петрович</span>
                                    </li>
                                    <li>специалист в области уголовного права</li>
                                </ul>
                                <a href="#" class="staff-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-md-7 col-lg-8">
            <article class="article-body">
                <h1 class="text-uppercase text-center main-article-title">
                    ПРЕОДОСТАВЛЯЕМ ЮРИДИЧЕСКИЕ УСЛУГИ
                </h1>
                <div class="article-content">
                    <p>
                        Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности в
                        значительной степени обуславливает создание дальнейших направлений развития. Не следует, однако
                        забывать, что дальнейшее развитие различных форм деятельности способствует подготовки и
                        реализации
                        соответствующий условий активизации. </p>
                    <p>
                        Не следует, однако забывать, что начало повседневной работы по формированию позиции играет
                        важную
                        роль в формировании систем массового участия. Таким образом постоянное
                        информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный
                        эксперимент проверки направлений прогрессивного развития. </p>

                    <br>
                    <br>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5ClgsD6owdw"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </article>
            <div class="row home-links-row">
                <div class="col-sm-6">
                    <div class="home-links">
                        <div class="home-links-embed dummy">
                            <div class="embed-space"></div>
                        </div>
                        <div class="home-links-text text-center">
                            <h4 class="text-uppercase">
                                НАЗВАНИЕ ЮРИДИЧЕСКОЙ УСЛУГИ
                            </h4>
                            <ul class="list-unstyled">
                                <li>
                                    Таким образом постоянное информационно пропагандистское обеспечение
                                    подробнее
                                </li>
                                <li>
                                    <a href="#">подробнее</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="home-links">
                        <div class="home-links-embed dummy">
                            <div class="embed-space"></div>
                        </div>
                        <div class="home-links-text text-center">
                            <h4 class="text-uppercase">
                                НАЗВАНИЕ ЮРИДИЧЕСКОЙ УСЛУГИ
                            </h4>
                            <ul class="list-unstyled">
                                <li>
                                    Таким образом постоянное информационно пропагандистское обеспечение
                                    подробнее
                                </li>
                                <li>
                                    <a href="#">подробнее</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row home-links-row">
                <div class="col-sm-6">
                    <div class="home-links">
                        <div class="home-links-embed dummy">
                            <div class="embed-space"></div>
                        </div>
                        <div class="home-links-text text-center">
                            <h4 class="text-uppercase">
                                НАЗВАНИЕ ЮРИДИЧЕСКОЙ УСЛУГИ
                            </h4>
                            <ul class="list-unstyled">
                                <li>
                                    Таким образом постоянное информационно пропагандистское обеспечение
                                    подробнее
                                </li>
                                <li>
                                    <a href="#">подробнее</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="home-links">
                        <div class="home-links-embed dummy">
                            <div class="embed-space"></div>
                        </div>
                        <div class="home-links-text text-center">
                            <h4 class="text-uppercase">
                                НАЗВАНИЕ ЮРИДИЧЕСКОЙ УСЛУГИ
                            </h4>
                            <ul class="list-unstyled">
                                <li>
                                    Таким образом постоянное информационно пропагандистское обеспечение
                                    подробнее
                                </li>
                                <li>
                                    <a href="#">подробнее</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row home-links-row">
                <div class="col-sm-6">
                    <div class="home-links">
                        <div class="home-links-embed dummy">
                            <div class="embed-space"></div>
                        </div>
                        <div class="home-links-text text-center">
                            <h4 class="text-uppercase">
                                НАЗВАНИЕ ЮРИДИЧЕСКОЙ УСЛУГИ
                            </h4>
                            <ul class="list-unstyled">
                                <li>
                                    Таким образом постоянное информационно пропагандистское обеспечение
                                    подробнее
                                </li>
                                <li>
                                    <a href="#">подробнее</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="home-links">
                        <div class="home-links-embed dummy">
                            <div class="embed-space"></div>
                        </div>
                        <div class="home-links-text text-center">
                            <h4 class="text-uppercase">
                                НАЗВАНИЕ ЮРИДИЧЕСКОЙ УСЛУГИ
                            </h4>
                            <ul class="list-unstyled">
                                <li>
                                    Таким образом постоянное информационно пропагандистское обеспечение
                                    подробнее
                                </li>
                                <li>
                                    <a href="#">подробнее</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row home-links-row">
                <div class="col-sm-6">
                    <div class="home-links">
                        <div class="home-links-embed dummy">
                            <div class="embed-space"></div>
                        </div>
                        <div class="home-links-text text-center">
                            <h4 class="text-uppercase">
                                НАЗВАНИЕ ЮРИДИЧЕСКОЙ УСЛУГИ
                            </h4>
                            <ul class="list-unstyled">
                                <li>
                                    Таким образом постоянное информационно пропагандистское обеспечение
                                    подробнее
                                </li>
                                <li>
                                    <a href="#">подробнее</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="home-links">
                        <div class="home-links-embed dummy">
                            <div class="embed-space"></div>
                        </div>
                        <div class="home-links-text text-center">
                            <h4 class="text-uppercase">
                                НАЗВАНИЕ ЮРИДИЧЕСКОЙ УСЛУГИ
                            </h4>
                            <ul class="list-unstyled">
                                <li>
                                    Таким образом постоянное информационно пропагандистское обеспечение
                                    подробнее
                                </li>
                                <li>
                                    <a href="#">подробнее</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row home-links-row">
                <div class="col-sm-6">
                    <div class="home-links">
                        <div class="home-links-embed dummy">
                            <div class="embed-space"></div>
                        </div>
                        <div class="home-links-text text-center">
                            <h4 class="text-uppercase">
                                НАЗВАНИЕ ЮРИДИЧЕСКОЙ УСЛУГИ
                            </h4>
                            <ul class="list-unstyled">
                                <li>
                                    Таким образом постоянное информационно пропагандистское обеспечение
                                    подробнее
                                </li>
                                <li>
                                    <a href="#">подробнее</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="home-links">
                        <div class="home-links-embed dummy">
                            <div class="embed-space"></div>
                        </div>
                        <div class="home-links-text text-center">
                            <h4 class="text-uppercase">
                                НАЗВАНИЕ ЮРИДИЧЕСКОЙ УСЛУГИ
                            </h4>
                            <ul class="list-unstyled">
                                <li>
                                    Таким образом постоянное информационно пропагандистское обеспечение
                                    подробнее
                                </li>
                                <li>
                                    <a href="#">подробнее</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row home-links-row">
                <div class="col-sm-6">
                    <div class="home-links">
                        <div class="home-links-embed dummy">
                            <div class="embed-space"></div>
                        </div>
                        <div class="home-links-text text-center">
                            <h4 class="text-uppercase">
                                НАЗВАНИЕ ЮРИДИЧЕСКОЙ УСЛУГИ
                            </h4>
                            <ul class="list-unstyled">
                                <li>
                                    Таким образом постоянное информационно пропагандистское обеспечение
                                    подробнее
                                </li>
                                <li>
                                    <a href="#">подробнее</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="home-links">
                        <div class="home-links-embed dummy">
                            <div class="embed-space"></div>
                        </div>
                        <div class="home-links-text text-center">
                            <h4 class="text-uppercase">
                                НАЗВАНИЕ ЮРИДИЧЕСКОЙ УСЛУГИ
                            </h4>
                            <ul class="list-unstyled">
                                <li>
                                    Таким образом постоянное информационно пропагандистское обеспечение
                                    подробнее
                                </li>
                                <li>
                                    <a href="#">подробнее</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-shadow"></div>
    <div class="header-top">
        <div class="container relative">
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
                        <img src="img/logo_footer.png" alt="JesFactum" class="img-responsive footer-logo">
                    </a>
                </div>
                <div class=" col-md-6">
                    <div class="top-contacts color-white">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="top-address list-unstyled">
                                    <li>
                                        <h4 class="bold">АДРЕС:</h4>
                                    </li>
                                    <li>
                                        <h5 class="large-font">г.Киев,
                                            <span class="text-nowrap">ул. Соколовского д3, </span>
                                            <span class="text-nowrap">офис 234</span>
                                        </h5>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-unstyled top-phone">
                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span class="phone-text">(098) 565-69-69</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span class="phone-text">(098) 565-69-69</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <span class="phone-text">(098) 565-69-69</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="top-btn-group">
                        <button class="btn btn-primary btn-call" data-toggle="modal" data-target="#feedbackModal">
                            <i class="fa fa-phone btn-icon" aria-hidden="true"></i>
                            <span class="btn-text bold text-uppercase btn-text">заказать обратный звонок</span>
                        </button>
                        <button class="btn btn-primary btn-call" data-toggle="modal" data-target="#feedbackModal">
                            <i class="fa fa-envelope btn-icon" aria-hidden="true"></i>
                            <span class="btn-text bold text-uppercase btn-text">бесплатная консультация</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright color-white text-center relative">
        <div class="container">
            <span>All rights reserved &copy; "JesFactum" 2007-2016 г.</span>
        </div>

    </div>
</footer>

<div class="modal fade callback-modal " id="callbackModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h2 class="color-primary">Спасибо за обращение! <br> Сейчас Вам перезвонят</h2>
                <button class="btn btn-info" data-dismiss="modal" aria-label="Close">Закрыть окно</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade feedback-modal" id="feedbackModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="modal-header color-white text-center text-uppercase">перезвоним за две минуты</h2>
                <p class="text-center">Заполните форму и мы свяжемся с вами</p>
                <form id="requestForm" class="text-center form-feedback">
                    <input name="head" type="hidden" value="Order"/>

                    <input name="name" class="form-control" id="firstInput" type="text" required="required"
                           placeholder="Введите имя"/>
                    <input name="phone" class="form-control" type="tel" required="required"
                           placeholder="Введите телефон"/>
                    <input name="phone" class="form-control" type="email" required="required"
                           placeholder="Введите E-mail"/>
                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
</div>


<!--{{CUT-START}}-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
<script src=".assets/js/button.js"></script>
<script src=".assets/js/carousel.js"></script>
<script src=".assets/js/collapse.js"></script>
<script src=".assets/js/modal.js"></script>
<script src=".assets/js/transition.js"></script>
<!--{{CUT-END}}-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/{{JQUERY_VERSION}}/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>

<script src="js/{{MAIN_JS_FILE}}"></script>
<script src="js/vendor/jquery.maskedinput.min.js"></script>
<script src="js/plugins.js"></script>
</body>
</html>
